[submodule "Video 084"]
	path = Video 084
	url = https://github.com/suryanshkushwaha/website-Spotify-clone.git
[submodule "Video 053"]
	path = Video 053
	url = https://github.com/suryanshkushwaha/website-Netflix-clone.git
[submodule "Video 101"]
	path = Video 101
	url = https://github.com/suryanshkushwaha/website-X-clone.git
